{{- $feedPage := . -}}
{{- $path := replaceRE "/$" "" .RelPermalink -}}
{{- $isArchiveRoot := eq $path "/archive" -}}
{{- $isFeedRoot := eq $path "/feed" -}}
{{- $feedPostSections := .Site.Params.feed_post_sections | default slice -}}
{{- $isPostSingle := and .IsPage (or (in $feedPostSections .Section) (eq .Section "now")) -}}
{{- if eq .Section "now" -}}
{{- end -}}
{{- if or .IsHome $isArchiveRoot $isFeedRoot -}}
  {{- $feedPage = .Site.Home -}}
  feed page
{{- else if $isPostSingle -}}
  {{- if eq .Section "now" -}}
    {{- $feedPage = .Site.GetPage "secton" "now" -}}
  {{- else -}}
    {{- $feedPage = .Site.Home -}}
  {{- end -}}
{{- end -}}
{{- with .GetTerms "series" -}}
  {{- with index . 0 -}}
    {{- $feedPage = . -}}
  {{- end -}}
{{- end -}}
{{- with $feedPage.OutputFormats.Get "rss" -}}
  <div class="lowercase mt-8 text-sm mb-8">
    <h2 class="mb-2">Followable</h2>
    <div class="mb-2">
      {{- $label := replace .RelPermalink "feed.xml" "feed.rss" -}}
      <a href="{{ .RelPermalink }}">{{ $label }}</a>
      <img src="/icons/rss.svg" alt="RSS icon" style="display: inline; height: 1rem; width: 1rem" />
    </div>
  </div>
{{- end -}}
