{{- $pages := where site.Pages "Params.show_in_pages_nav" true -}}
{{- $pages = where $pages "Kind" "in" (slice "page" "section" "taxonomy") -}}
{{- $currentPath := replaceRE "/$" "" .RelPermalink -}}
<ul class="list-none">
  {{- range sort $pages "Title" }}
    {{- $itemPath := replaceRE "/$" "" .RelPermalink -}}
    {{- $isCurrent := or (eq $itemPath $currentPath) (hasPrefix (printf "%s/" $currentPath) (printf "%s/" $itemPath)) -}}
    <li class="lowercase inline-block mr-1 mb-1">
      <a
        href="{{ .RelPermalink }}"
        class="{{ if $isCurrent }}active{{ end }}"
        style="text-wrap: nowrap; {{ if $isCurrent }}
          text-decoration: underline solid var(--color-purple) 2px;
        {{ end }}"
        >/{{ .Title }}</a
      >
    </li>
  {{- end -}}
</ul>
