{{- $scope := .Params.date_scope -}}
{{- $allPosts := partial "archive/all-posts.html" . -}}
{{- $posts := where .Site.RegularPages "Section" "__none__" -}}

{{- if eq $scope "year" -}}
  {{- $target := printf "%v" .Params.archive_year -}}
  {{- range ($allPosts.GroupByDate "2006") -}}
    {{- if eq .Key $target -}}
      {{- $posts = .Pages.ByDate.Reverse -}}
    {{- end -}}
  {{- end -}}
{{- else if eq $scope "month" -}}
  {{- $target := printf "%v-%v" .Params.archive_year .Params.archive_month -}}
  {{- range ($allPosts.GroupByDate "2006-01") -}}
    {{- if eq .Key $target -}}
      {{- $posts = .Pages.ByDate.Reverse -}}
    {{- end -}}
  {{- end -}}
{{- else if eq $scope "day" -}}
  {{- $target := printf "%v-%v-%v" .Params.archive_year .Params.archive_month .Params.archive_day -}}
  {{- range ($allPosts.GroupByDate "2006-01-02") -}}
    {{- if eq .Key $target -}}
      {{- $posts = .Pages.ByDate.Reverse -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- return $posts -}}
