{{ define "main" }}
  {{- with .Title }}
    <h1 class="mb-4 text-3xl text-orange">{{ . }}</h1>
  {{- end }}
  <div class="prose prose-invert text-light font-sans">
    {{ .Content }}

    {{ $pages := .RegularPages.ByTitle }}
    <ul>
      {{ range .RegularPages.ByTitle }}
        <li>
          <a href="{{ .Params.link }}">{{ .Title }}</a>
          {{ with .Params.description }}
            <p>{{ . }}</p>
          {{ end }}
        </li>
      {{ end }}
    </ul>
    <small>I know what you're thinking. Please don't do it.</small>
  </div>
{{ end }}
