{{- $pages := .Pages -}}
{{- $itemLayout := .ItemLayout | default "li-grouped" -}}
{{- $dayAnchorFormat := .DayAnchorFormat | default "month-day-year" -}}
{{- $linkDayToArchive := .LinkDayToArchive | default false -}}
{{- $sortOrder := .SortOrder | default "desc" -}}
{{- $sortedPages := $pages.ByDate -}}
{{- if eq $sortOrder "desc" -}}
  {{- $sortedPages = $pages.ByDate.Reverse -}}
{{- end -}}
{{- $dayGroups := $sortedPages.GroupByDate "2006-01-02" -}}
{{- $dayGroupByKey := dict -}}
{{- $dayKeys := slice -}}
{{- range $dayGroups -}}
  {{- $dayGroupByKey = merge $dayGroupByKey (dict .Key .) -}}
  {{- $dayKeys = $dayKeys | append (printf "%s" .Key) -}}
{{- end -}}
{{- $dayKeys = sort $dayKeys -}}
{{- if eq $sortOrder "desc" -}}
  {{- $dayKeys = collections.Reverse $dayKeys -}}
{{- end -}}
{{- range $dayKeys }}
  {{- $group := index $dayGroupByKey . -}}
  {{- $date := (index $group.Pages 0).Date -}}
  {{- $heading := partial "date_with_ordinal_day.html" $date -}}
  {{- $monthID := (lower ($date.Format "January")) -}}
  {{- $dayID := printf "%s-%d-%s" $monthID $date.Day ($date.Format "2006") -}}
  {{- if eq $dayAnchorFormat "month-day" -}}
    {{- $dayID = printf "%s-%d" $monthID $date.Day -}}
  {{- end -}}
  {{- $dayURL := (printf "/archive/%s/" ($date.Format "2006/01/02")) | relURL -}}
  <section class="mb-8">
    <p id="{{ $dayID }}" class="mb-4 text-sm">
      {{- if $linkDayToArchive -}}
        <a href="{{ $dayURL }}" style="border: none; color: inherit;">{{ $heading }}</a>
      {{- else -}}
        {{ $heading }}
      {{- end -}}
    </p>
    <ul class="mb-2">
      {{- $dayPages := $group.Pages.ByDate -}}
      {{- if eq $sortOrder "desc" -}}
        {{- $dayPages = $group.Pages.ByDate.Reverse -}}
      {{- end -}}
      {{- range $dayPages }}
        {{ .Render $itemLayout }}
      {{- end }}
    </ul>
  </section>
{{- end }}
