{{- $pages := slice -}}

{{- range site.Sections -}}
  {{- $pages = $pages | append . -}}
{{- end -}}

{{- range site.RegularPages -}}
  {{- if eq .Section "" -}}
    {{- $pages = $pages | append . -}}
  {{- end -}}
{{- end -}}

{{- range $taxonomy, $_ := site.Taxonomies -}}
  {{- with site.GetPage (printf "/%s" $taxonomy) -}}
    {{- $pages = $pages | append . -}}
  {{- end -}}
{{- end -}}
<ul class="list-none">
  {{- range sort $pages "Title" }}
    <li class="mb-2 lowercase">
      <a href="{{ .RelPermalink }}" style="text-wrap: nowrap">/{{ .Title }}</a>
    </li>
  {{ end -}}
</ul>
