{{ define "main" }}
  <div class="my-6">
    {{ partial "hello.html" . }}
  </div>
  <div class="mb-6 text-white">
    <p class="mb-2">I'm Paul 👋</p>
    <p class="mb-2">Software engineer based in the UK.</p>
    <p class="mb-2">
      Learn more <a href="/about">about me</a>, view my <a href="/cv">CV</a>, or explore the
      <a href="feed">feed</a>.
    </p>
  </div>
  <div class="h-feed hfeed mb-6" id="recent">
    <div>
      <h2 class="p-name mb-4 lowercase">Recent:</h2>
      <a href="#recent" class="u-url u-uid hidden">Recent</a>

      <ul class="mb-6">
        {{ $posts := first 3 (where .Site.RegularPages "Section" "in" (slice "articles" "notes")) }}
        {{ range $posts.ByDate.Reverse }}
          {{ .Render "li" }}
        {{ end }}
      </ul>
    </div>
  </div>
  <div class="mb-6" id="pages">
    <div>
      <h2 class="mb-2 lowercase">Pages:</h2>
      <div class="mb-2">
        {{ partial "pages.html" }}
      </div>
    </div>
  </div>
{{ end }}
