<li class="h-entry mb-8">
  <div class="prepended-icon {{ .Section | urlize }}">
    {{- if .Title }}
      <div class="mb-4">
        <h2 class="mb-4 text-lg text-orange">
          <a class="p-name u-url" style="color:inherit;" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h2>
        {{ if .Summary }}
          <div class="p-summary text-white mb-4 font-sans prose prose-invert">{{ .Summary }}</div>
        {{ end }}
      </div>
    {{- else }}
      <div class="mb-4">
        {{- if .Truncated -}}
          <div class="p-summary prose prose-invert font-sans text-white mb-4">{{ .Summary }}</div>
          <div class="mb-4">
            <a href="{{ .RelPermalink }}">read more</a>
          </div>
        {{- else -}}
          <div
            class="e-content prose prose-invert text-light font-sans prose-a:no-underline prose-a:border-b-2 prose-a:border-orange prose-a:hover:border-red mb-16"
          >
            {{ .Content }}
          </div>
        {{- end -}}
      </div>
    {{ end -}}
    <div class="text-sm">
      <div class="mb-2 flex justify-end">
        <a href="{{ .RelPermalink }}" class="dt-published" style="border: none; color: inherit;"
          >{{ .Date.Format "3:04pm" }}</a
        >
      </div>
      {{- with .GetTerms "tags" }}
        <ul class="mb-2 flex justify-end" style="gap: 1.5em;">
          {{- range . }}
            <li class="p-category mb-2">
              <a
                class="prepended-icon hashtag"
                href="{{ .RelPermalink }}"
                rel="category tag"
                style="border: none; color: inherit;"
                >{{ .Title }}</a
              >
            </li>
          {{- end }}
        </ul>
      {{- end }}
    </div>
  </div>
</li>
