{{ define "main" }}
<div class="mb-20">
	<article>
		<header>
			{{- $rawParts := split .RelPermalink "/" -}}
			{{- $parts := slice -}}
			{{- range $rawParts -}}
			{{- if ne . "" -}}
			{{- $parts = $parts | append . -}}
			{{- end -}}
			{{- end }}
			<h1 class="mb-8 text-3xl text-light {{ if le (len $parts) 1 }}lowercase{{ end }}">{{
				.Title }}</h1>
			{{ with .Date -}}
			<p class="mb-2">
				<time class="dt-published" datetime="{{ . }}"
					itemprop="dateCreated pubdate datePublished">
					{{ .| time.Format ":date_medium" }}
				</time>
			</p>
			{{- end }}
		</header>
		<div
			class="prose prose-invert text-light font-sans prose-lg prose-a:no-underline prose-a:border-b-2 prose-a:border-orange prose-a:hover:border-red mb-4">
			{{ .Content }}
		</div>
		<footer>
			<div class="mb-4">
				{{- with .GetTerms "tags" }}
				<p class="mb-2">tagged with:</p>
				<ul>
					{{- range . }}
					<li class="mb-2"><a href="{{ .RelPermalink }}">#{{ .Title }}</a></li>
					{{- end }}
				</ul>
				{{- end }}
			</div>
		</footer>
	</article>
</div>
{{ end }}
