{{ define "title" }}
  {{ .Title }}
  -
  {{ .Site.Title }}
{{ end }}

{{ define "main" }}
  <div class="h-feed hfeed mb-20">
    <h1 class="p-name mb-8 text-3xl text-light prepended-icon hashtag">{{ .Title }}</h1>
    {{- with .Content }}
      <div class="p-summary mb-8">
        {{ . }}
      </div>
    {{ end -}}

    {{- range .Pages }}
      <ul class="mb-2">
        {{ .Render "li" }}
      </ul>
    {{ end -}}

    {{ partial "pagination.html" (dict "page" . "format" "terse" ) }}
  </div>
{{ end }}
