{{- $p := .page -}}
{{- $timeLabel := $p.Date.Format "3:04pm" -}}
<footer class="text-sm">
  <div class="mb-2 flex justify-end">
    <a href="{{ $p.RelPermalink }}" class="color-steel">
      <time datetime="{{ $p.Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ $timeLabel }}</time>
    </a>
  </div>
  {{- with $p.GetTerms "tags" }}
    <ul class="mb-2 flex justify-end flex-wrap gap-2 md:gap-4">
      {{- range . }}
        <li class="p-category mb-2">
          <a
            class="prepended-icon hashtag color-steel"
            href="{{ .RelPermalink }}"
            rel="category tag"
            aria-label="All posts tagged {{ .Title }}"
            >{{ .Title }}</a
          >
        </li>
      {{- end }}
    </ul>
  {{- end }}
</footer>
