{{- $p := .page -}}
{{- $mode := .mode | default "list" -}}
{{- if eq $mode "single" }}
  <h1 class="p-name mb-4 text-3xl text-orange">
    {{ $p.Title }}
  </h1>
  {{ if $p.Date }}
    <div class="mb-8">
      <time
        class="no-underline color-steel"
        datetime="{{ $p.Date.Format "2006-01-02T15:04:05Z07:00" }}"
      >
        {{ partial "date_with_ordinal_day.html" $p.Date }}
      </time>
    </div>
  {{ end }}
  {{ if $p.ContentWithoutSummary }}
    <div class="p-summary mb-10 prose prose-invert text-light font-sans max-w-none">
      {{ $p.Summary }}
    </div>
    <div id="more" class="e-content prose prose-invert text-light font-sans max-w-none mb-16">
      {{ $p.ContentWithoutSummary }}
    </div>
  {{ else }}
    <div class="e-content prose prose-invert text-light font-sans max-w-none mb-16">
      {{ $p.Content }}
    </div>
  {{ end }}
{{- else }}
  <h2 class="mb-4 text-lg text-orange">
    <a class="p-name u-url color-steel" href="{{ $p.RelPermalink }}">{{ $p.Title }}</a>
  </h2>
  {{ with $p.Summary }}
    <div class="p-summary text-white mb-4 font-sans prose prose-invert">
      {{ if $p.Truncated }}
        {{ $more := printf ` <a class="inline" href="%s#more">…</a>` $p.RelPermalink }}
        {{ $summary := replaceRE `</p>\s*$` (printf `%s</p>` $more) . }}
        {{ if eq $summary . }}
          {{ . | safeHTML }}{{ $more | safeHTML }}
        {{ else }}
          {{ $summary | safeHTML }}
        {{ end }}
      {{ else }}
        {{ . | safeHTML }}
      {{ end }}
    </div>
  {{ end }}
{{- end }}
